* {
  font-family: "Crimson Text", serif;
}

body {
  display: flex;
  flex-direction: row;
  background: radial-gradient(circle at 50% 50%, #84a9ff, #f5f8ff);
  margin: 0px; /*Xoa khoang trang toan trang*/
  padding: 0px;
}

div.Menu {
  display: flex;
  flex-direction: column;
  background-color: #758ae9;
  width: 30vw;
  height: 100vh;
  transition: width 0.5s ease;
}

.Menu:hover {
  width: 35vw;
  transition: all 0.5s;
}

.slot1 {
  height: 25vh;
  background: radial-gradient(circle at 50% 50%, #84a9ff, #f5f8ff);
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  line-height: 13vh;
  margin: 0px;
  padding: 40px;
  color: black;
  text-shadow: 0px 0px 20px black;
  font-size: 40px;
}

.active {
  display: flex;
  align-items: center; /*giup can giua theo chieu ngang*/
  justify-content: center; /*giup can giua theo chieu doc*/
  font-size: 40px;
  padding: 40px;
  height: 25vh;
  text-decoration: none;
  color: #4864e3;
  text-align: center;
  background-color: #f7fdff;
  font-weight: bold;
  font-style: italic;
}

a.tag {
  display: flex;
  align-items: center; /*giup can giua theo chieu ngang*/
  justify-content: center; /*giup can giua theo chieu doc*/
  font-size: 40px;
  padding: 40px;
  height: 25vh;
  text-decoration: none;
  color: gray;
  background-color: #e4eaec;
  text-align: center;
}

.index {
  display: flex;
  flex-direction: column;
}

.timkiem {
  margin-top: 8vh;
  margin-left: 60px;
}

#find {
  border: solid;
  width: 100vh;
  text-align: left;
  padding: 15px;
  border-radius: 100px;
  font-style: italic;
  font-size: 35px;
}

p{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

.noidung {
  background-color: white;
  color:#4864e3;
  border-radius: 40px;
  margin: 0px 50px 60px 60px;
  padding:40px;
}

.noidung li {
  margin-bottom: 20px;
  font-size: 45px;
}

.noidung a {
  text-decoration: none;
  color: #4864e3;
  font-style: italic;
  font-size: 45px;
}

.noidung a:hover {
  color: red;
  transition: all 0.5s;
}